# Backend configuration
PORT=4000
MONGODB_URI=mongodb://sciencestudent267_db_user:Jesus143@ac-3yacbzx-shard-00-00.k5ifelm.mongodb.net:27017,ac-3yacbzx-shard-00-01.k5ifelm.mongodb.net:27017,ac-3yacbzx-shard-00-02.k5ifelm.mongodb.net:27017/?ssl=true&replicaSet=atlas-piof0v-shard-0&authSource=admin&appName=Cluster0
MONGODB_DB_NAME=darkmode_pqc
